<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Gestion de Usuarios</li>
  </ol>

  <div class="text-right">
    <button mat-mini-fab color="primary"
            data-toggle="modal" data-target="#createUserModal"
            matTooltip="Agregar usuarios">
      <mat-icon>+</mat-icon>
    </button>
    <br>
  </div>
  <div class="table-responsive">
    <loading-spinner *ngIf="users.length==0"></loading-spinner>
    <div *ngIf="users.length>0">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dni </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="cuil">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cuil </th>
          <td mat-cell *matCellDef="let element"> {{element.cuil}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <i class="fas fa-bars"></i>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <i class="fas fa-eye"></i>
                <span>Detalle</span>
              </button>
              <button mat-menu-item data-toggle="modal" data-target="#createUserModal" (click)="setUser(element)">
                <i class="fas fa-pen"></i>
                <span>Editar</span>
              </button>
              <button mat-menu-item data-toggle="modal" data-target="#filesUserModal" (click)="setUser(element)">
                <i class="fas fa-file-upload"></i>
                <span>Archivos</span>
              </button>
              <button mat-menu-item (click)="setUser(element);openDialogDeleteUser()">
                <i class="fas fa-trash"></i>
                <span>Eliminar</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>


</div>

<!-- Create User Modal-->
<div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Guardar Usuario</h5>
        <button class="close" type="button" data-dismiss="modal" (click)="blankUser()" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="example-form" autocomplete="off">
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Documento" required name="id" [(ngModel)]="user.id" (focusout)="serarchUser(user.id)">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Cuil" required name="cuil" [(ngModel)]="user.cuil">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre" required name="name" [(ngModel)]="user.name">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Direccion" required name="addres" [(ngModel)]="user.address"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Provincias</mat-label>
                <select matNativeControl required name="province" [(ngModel)]="user.province" (ngModelChange)="setLocales()">
                  <option *ngFor="let prov of provinces" value="{{prov.id}}">{{prov.nombre}}</option>
                </select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Provincias</mat-label>
                <select matNativeControl required name="locale" [(ngModel)]="user.locale">
                  <option *ngFor="let loc of locales" value="{{loc.id}}">{{loc.nombre}}</option>
                </select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="CP" required name="postalCode" [(ngModel)]="user.postalCode">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Ocupacion" required name="occupation" [(ngModel)]="user.occupation">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Telefono" required name="phone" [(ngModel)]="user.phone">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" required type="email" name="email" [(ngModel)]="user.email">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nacionalidad" required name="nationality" [(ngModel)]="user.nationality">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
              <mat-label>Estado Civil</mat-label>
              <select matNativeControl required name="civilStatus" [(ngModel)]="user.civilStatus">
                <option *ngFor="let cs of civilStatus" value="{{cs}}">{{cs}}</option>
              </select>
            </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="file" (change)="detectFiles($event)" multiple>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="blankUser()">Cancelar</button>
        <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="createUser()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Upload Files User Modal-->
<div class="modal fade" id="filesUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleFilesUserModalLabel">Archivos</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

        <mat-tab-group *ngIf="files.length>0">
          <mat-tab *ngFor="let file of files" label="{{file.name}}">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>{{file.name}}</mat-card-title>
                <mat-card-subtitle>{{file.type}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image *ngIf="file.type.includes('image')" [src]="file.url | safe" alt="">
              <iframe *ngIf="file.type.includes('pdf')" width="100%" height="100%" [src]="file.url | safe"></iframe>
              <div *ngIf="!file.type.includes('pdf')&&!file.type.includes('image')">
                <h5>Vista previa no disponible para el tipo de archivo</h5>
                <br>
              </div>
              <mat-card-content>

              </mat-card-content>
              <mat-card-actions>
                <a *ngIf="file.type.includes('pdf')||file.type.includes('image')" target="_blank" href="{{file.url}}" mat-button>
                  <i class="fas fa-eye"></i>
                  <span>Ver</span>
                </a>
                <a *ngIf="!file.type.includes('pdf')&&!file.type.includes('image')" href="{{file.url}}" mat-button>
                  <i class="fas fa-eye"></i>
                  <span>Descargar</span>
                </a>
                <a mat-button (click)="setFile(file);openDialogDeleteFile()">
                  <i class="fas fa-trash"></i>
                  <span>Eliminar</span>
                </a>
              </mat-card-actions>
            </mat-card>
          </mat-tab>
        </mat-tab-group>
        <div *ngIf="currentUpload&&loadFiles">
          <div class="progress">
            <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
          </div>
          Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
        </div>
        <hr>
        <div class="input-group mb-3">
          <div class="custom-file">
            <input #myInput type="file" class="custom-file-input" (change)="detectFiles($event)" multiple>
            <label class="custom-file-label">{{numberFiles}} archivos seleccionados</label>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
        <button
          class="btn btn-primary" type="button"
          [disabled]="!selectedFiles"
          (click)="createUser()">
          Subir Archivos
        </button>
      </div>
    </div>
  </div>
</div>
