<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Login</div>
    <div class="card-body">
      <form (submit)="login($event, email.value, password.value)">
        <div class="example-container">
          <mat-form-field>
            <input matInput #email type="email" id="email" class="form-control" placeholder="correo" required="required">
          </mat-form-field>
          <mat-form-field>
            <input matInput #password type="password" id="password" class="form-control" placeholder="contraseña" required="required">
          </mat-form-field>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me">
              Remember Password
            </label>
          </div>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Ingresar</button>
      </form>
      <div class="text-center">
        <a class="d-block small" href="#" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#resetPasswordModal">Recuperar contraseña</a>
      </div>
    </div>
  </div>
</div>

<!-- Create User Modal-->
<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Restablecer Contraseña</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="example-form" autocomplete="off">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" required type="email" name="resetEmail" #resetEmail>
          </mat-form-field>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="resetPassword(resetEmail.value)">Enviar</button>
      </div>
    </div>
  </div>
</div>
