<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Vehiculos</li>
  </ol>

  <div class="text-right">
    <button mat-mini-fab color="primary"
            data-toggle="modal" data-backdrop="static" data-keyboard="false"
            data-target="#createVehicleModal"
            matTooltip="Agregar Vehiculos">
      <i class="fas fa-plus"></i>
    </button>
    <br>
  </div>

  <div class="table-responsive">
    <loading-spinner *ngIf="vehicles.length==0"></loading-spinner>
    <div *ngIf="vehicles.length>0">
      <mat-form-field>
        <input matInput [ngModel]="globalFilter" (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
      </mat-form-field>

      <table *ngIf="finding" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table">

        <ng-container matColumnDef="domain">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dominio </th>
          <td mat-cell *matCellDef="let element"> <a routerLink="/vehicles/{{element.id}}">{{element.id}}</a> </td>
        </ng-container>

        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </th>
          <td mat-cell *matCellDef="let element"> {{element.model}} </td>
        </ng-container>

        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
          <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
        </ng-container>

        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Año </th>
          <td mat-cell *matCellDef="let element"> {{element.year}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <i class="fas fa-bars"></i>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/vehicles/{{element.id}}">
                <i class="fas fa-eye"></i>
                <span>Detalle</span>
              </button>
              <button mat-menu-item data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#createVehicleModal" (click)="searchVehicle(element.id)">
                <i class="fas fa-pen"></i>
                <span>Editar</span>
              </button>
              <button mat-menu-item data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#filesVehicleModal" (click)="setVehicle(element)">
                <i class="fas fa-file-upload"></i>
                <span>Archivos</span>
              </button>
              <button mat-menu-item data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#regVehicleModal" (click)="setVehicle(element)">
                <i class="fas fa-file-upload"></i>
                <span>Radicación</span>
              </button>
              <button mat-menu-item (click)="setVehicle(element);openDialogDeleteVehicle()">
                <i class="fas fa-trash"></i>
                <span>Eliminar</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <ng-container matColumnDef="expertise">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Peritaje </th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-link" *ngIf="element.expertise" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#expertise-report" (click)="searchVehicle(element.id)">
              <i class="fas fa-print"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
    <mat-paginator *ngIf="finding" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>

<!-- Create Vehicle Modal-->
<div class="modal fade" id="createVehicleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Vehículos - GP Devoto</h5>
        <button class="close" type="button" data-dismiss="modal" (click)="blankVehicle()" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="example-form" autocomplete="off">
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Dominio" required name="domain" [(ngModel)]="vehicle.id">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Marca" required name="brand" [(ngModel)]="vehicle.brand">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Tipo" required name="tipe" [(ngModel)]="vehicle.tipe">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Modelo" required name="model" [(ngModel)]="vehicle.model">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Marca Motor" required name="engineBrand" [(ngModel)]="vehicle.engineBrand">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nro de Motor" required name="brandNumber" [(ngModel)]="vehicle.brandNumber">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Marca de Chasis" required name="chasisBrand" [(ngModel)]="vehicle.chasisBrand">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nro de Chasis" required name="chasisNumber" [(ngModel)]="vehicle.chasisNumber">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Uso" required name="use" [(ngModel)]="vehicle.use">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Año" required name="year" [(ngModel)]="vehicle.year">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput ngx-google-places-autocomplete #placesRef="ngx-places" placeholder="Ubicación Física" required name="location" [(ngModel)]="vehicle.location" (onAddressChange)="handleAddressChange($event)">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Color" required name="color" [(ngModel)]="vehicle.color">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Estatus" required name="status" [(ngModel)]="vehicle.status">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Kms al Ingreso" required name="km" [(ngModel)]="vehicle.km">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Valor de Toma" required name="costValue" [(ngModel)]="vehicle.costValue">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Valor de Venta" required name="publicValue" [(ngModel)]="vehicle.publicValue">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Combustible" required name="gasoline" [(ngModel)]="vehicle.gasoline">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Registro Seccional" required name="radication" [(ngModel)]="vehicle.radication"/>
                <a matSuffix mat-button target="_BLACK" href="https://www.dnrpa.gov.ar/portal_dnrpa/radicacion2.php">Consultar</a>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Situación de Entrada del Vehículo</mat-label>
                <select matNativeControl  name="stateIn" [(ngModel)]="vehicle.stateIn">
                  <option *ngFor="let vs of vehicleStatesIn" value="{{vs}}">{{vs}}</option>
                </select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="picker" placeholder="Fecha de Ingreso" name="dateAdmission" [value]="vehicle.dateAdmission" [(ngModel)]="vehicle.dateAdmission">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-checkbox name="manual" [(ngModel)]="vehicle.manual">Manual</mat-checkbox>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Manual Descripción" required name="manualDesc" [(ngModel)]="vehicle.manualDesc"/>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-checkbox name="additionalKeys" [(ngModel)]="vehicle.additionalKeys">Juego de llaves adicional</mat-checkbox>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Juego de llaves adicional Descripción" required name="additionalKeysDesc" [(ngModel)]="vehicle.additionalKeysDesc"/>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Observaciones" required name="coment" [(ngModel)]="vehicle.coment"></textarea>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="blankVehicle()">Cancelar</button>
        <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="createVehicle()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Upload Files Vehicle Modal-->
<div class="modal fade" id="filesVehicleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleFilesVehicleModalLabel">Archivos</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

        <mat-tab-group *ngIf="files.length>0">
          <mat-tab *ngFor="let file of files" label="{{file.name}}">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>{{file.name}}</mat-card-title>
                <mat-card-subtitle>{{file.type}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image *ngIf="file.type.includes('image')" [src]="file.url | safe" alt="">
              <iframe *ngIf="file.type.includes('pdf')" width="100%" height="100%" [src]="file.url | safe"></iframe>
              <div *ngIf="!file.type.includes('pdf')&&!file.type.includes('image')">
                <h5>Vista previa no disponible para el tipo de archivo</h5>
                <br>
              </div>
              <mat-card-content>

              </mat-card-content>
              <mat-card-actions>
                <a *ngIf="file.type.includes('pdf')||file.type.includes('image')" target="_blank" href="{{file.url}}" mat-button>
                  <i class="fas fa-eye"></i>
                  <span>Ver</span>
                </a>
                <a *ngIf="!file.type.includes('pdf')&&!file.type.includes('image')" href="{{file.url}}" mat-button>
                  <i class="fas fa-eye"></i>
                  <span>Descargar</span>
                </a>
                <a mat-button (click)="setFile(file);openDialogDeleteFile()">
                  <i class="fas fa-trash"></i>
                  <span>Eliminar</span>
                </a>
              </mat-card-actions>
            </mat-card>
          </mat-tab>
        </mat-tab-group>
        <div *ngIf="currentUpload&&loadFiles">
          <div class="progress">
            <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
          </div>
          Progreso: {{currentUpload?.progress}}% Completado
        </div>
        <hr>
        <div class="input-group mb-3">
          <div class="custom-file">
            <input #myInput type="file" class="custom-file-input" lang="es" (change)="detectFiles($event)" multiple>
            <label class="custom-file-label" data-browse="Adjuntar Archivo">{{numberFiles}} archivos seleccionados</label>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
        <button
          class="btn btn-primary" type="button"
          [disabled]="numberFiles==0"
          (click)="createVehicle()">
          Subir Archivos
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Upload Files Vehicle Modal-->
<div class="modal fade" id="regVehicleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleRegVehicleModalLabel">Archivos</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

        <iframe id="iframeDom" width="100%" height=700 [src]="'https://www.dnrpa.gov.ar/portal_dnrpa/radicacion2.php' | safe"></iframe>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<!-- Expertise modal -->
<app-expertise-report *ngIf="vehicle" [vehicle]="vehicle"></app-expertise-report>
